@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background-color: hsl(202, 86%, 94%);
    margin: 0; 
}

.container {
    display: flex;
    flex-direction: column; 
    width: 100%;
    max-width: 1000px; 
    padding: 0; 
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.first, .second {
    width: 100%;
    padding: 2em;
}

.hidden {
    display: none;
}

.clear {
    border: none;
    color: hsl(200, 24%, 40%);
    text-decoration: underline;
    background-color: transparent;
    margin-bottom: 1em;
}

.clear:hover, input:hover, .calculate:hover, .radios:hover {
    cursor: pointer;
}

.clear:hover {
    color: hsl(202, 55%, 16%);
}

h1 {
    color: hsl(202, 55%, 16%);
    margin-bottom: .2em;
    font-size: 1.8em;
    font-weight: bolder;
}

form label {
    color: hsl(200, 24%, 40%);
}

.input-group .input-group-text {
    background-color: hsl(202, 86%, 94%);
    font-weight: 600;
    color: hsl(200, 24%, 40%);
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
}

.input-group .input-group-text.error-text {
    background-color: red;
    color: white;
}

.input-group .form-control.error-input {
    border-color: red;
}

.radios {
    display: flex;
    align-items: center;
    border: solid 1px hsl(202, 55%, 16%);
    border-radius: .3em;
    padding: .8em;
    font-weight: bold;
    margin: .5em 0;
    cursor: pointer; 
    background-color: white;
}

.radios input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1em;
    height: 1em;
    border: 2px solid hsl(202, 55%, 16%);
    border-radius: 50%;
    position: relative;
    margin-right: .5em;
    cursor: pointer;
    outline: none;
}

.radios input[type="radio"]:checked {
    border-color: hsl(61, 70%, 52%);
}

.radios input[type="radio"]:checked::before {
    content: '';
    width: .45em;
    height: .45em;
    border-radius: 50%;
    background-color: hsl(61, 70%, 52%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radios label {
    color: hsl(202, 55%, 16%);
    padding-left: .3em;
}

.radios:hover {
    border: solid 1px hsl(61, 70%, 52%);
}

.second {
    color: hsl(202, 86%, 94%);
    background-color: hsl(202, 55%, 16%);
    text-align: center;
}

.calculate {
    background-color: hsl(61, 70%, 52%);
    border: none;
    border-radius: 2em;
    padding: .8em;
    width: 100%;
    font-weight: 700;
    font-size: 1.2em;
    color: hsl(202, 55%, 16%);
    margin: 1em 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculate img {
    margin-right: 0.5rem;
}

.calculate:hover {
    background-color: hsla(61, 70%, 52%, 0.509);
}

.h1-results {
    color: white;
    font-size: 1.3em;
}

.empty p {
    color: hsl(203, 41%, 72%);
    margin-top: .8em;
}

.results-completed {
    color: white;
    font-size: 1.5em;
}

.results {
    background-color: hsl(201, 56%, 10%);
    padding: 2em;
    border-radius: .8em;
}

.results h2 {
    font-size: 1em;
    color: hsl(202, 86%, 94%);
}

.results span {
    color: hsl(61, 70%, 52%);
    font-weight: bolder; 
    font-size: 2.3em; 
    display: block;
    margin: 0.5em 0; 
}

.results span:last-of-type {
    color: white; 
    font-size: 1.5em; 
    display: block; 
    margin: 0.5em 0;
    font-weight: 400; 
}

.error {
    display: none;
    color: red;
    font-size: 0.9em;
    font-weight: 400;
}

.error-container {
    margin-top: .5em;
}

@media only screen and (min-width: 900px) {
    .container {
        flex-direction: row;
        border-radius: 1.3em; 
    }

    .first, .second {
        flex: 1; 
        padding: 2em;
    }

    .second {
        background-color: hsl(202, 55%, 16%);
        color: hsl(202, 86%, 94%);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0 1.3em 1.3em 4em;
    }

    .empty img {
        margin-bottom: 2em;
    }

    .calculate {
        width: 80%;
        margin-top: 2em;
    }

    .mortgage-interest {
        display: flex;
        gap: 1em;
    }

    .mortgage-interest .mb-3 {
        flex: 1;
    }

    .completed h1, .completed p, .results {
        text-align: left;
    }

    .completed p {
        color: hsl(204, 24%, 73%);
        margin: 1em 0 2em 0;
    }

    .results {
        border-top: solid 3px hsl(61, 70%, 52%);
        height: 250px;
    }

    .results h2 {
        color: hsl(204, 24%, 73%);
    }
}
